
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <a class="navbar-brand" href=" {{ url_for('index') }} ">Vzuh-todo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Your cards <span class="sr-only">(current)</span></a>
      </li>

        <li class="nav-item">
        <a class="nav-link" href="#">Contacts</a>
      </li>
      </ul>
      <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <!-- {% if not session %} -->
              <a class="dropdown-item" href=" {{ url_for('register') }} ">Sign in</a>
              <a class="dropdown-item" href="#">Log in</a>
            <!-- {% endif %}
            {% if session["name"] %} -->
              <a class="dropdown-item" href="#">Name here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"">Log out</a>
            <!-- {% endif %} -->
          </div>
      </li>
      </ul>

      <form class="form-inline my-2 my-lg-0" action="# " method="POST">
          <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  </div>
  </div>
</nav>
